/*para el Loader de pantalla cuando ejecute cualquier peticion por JS */
    #loading-screen {
        background-color: rgba(25,25,25,0.7);
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 9999;
        margin-top: 0;
        top: 0;
        text-align: center;
    }
    #loading-screen img {
        width: 100px;
        height: 100px;
        position: relative;
        margin-top: -50px;
        margin-left: -50px;
        top: 50%;
    }

    #spin{
        position:absolute;
        width:600px;
        height:36px;
        left:50%;
        top:35%;
    }